APP_ENV=production
PORT=8000
NGINX_HTTP_PORT=80
DATABASE_URL=postgres://myke:password123@postgres.example.internal:5432/conelli_admin?sslmode=require
CORS_ORIGIN=https://admin.conelliengineering.com,https://cis.conelliengineering.com,https://conelliengineering.com
ADMIN_EMAIL=admin@conelliengineering.com
ADMIN_NAME=Conelli Admin
ADMIN_PASSWORD=replace-with-strong-password
AWS_REGION=sfo3
AWS_S3_BUCKET=conelli-assets
AWS_S3_PREFIX=conelli/prod
AWS_S3_ENDPOINT=https://sfo3.digitaloceanspaces.com
AWS_S3_PUBLIC_URL=https://conelli-assets.sfo3.digitaloceanspaces.com
AWS_ACCESS_KEY_ID=replace-with-spaces-access-key
AWS_SECRET_ACCESS_KEY=replace-with-spaces-secret-key
