PORT=8000
HOST=localhost
USER=postgres
PASSWORD=postgres
DB_NAME=conelli_admin
DB_PORT=5432
SSLMODE=disable
CORS_ORIGIN=http://localhost:5173
ADMIN_EMAIL=admin@conelliengineering.com
ADMIN_NAME=Conelli Admin
ADMIN_PASSWORD=conelli
