APP_ENV=development
PORT=8000
API_PORT=8000
HOST=localhost
DB_USER=myke
PASSWORD=password123
DB_NAME=conelli_admin
DB_PORT=55432
SSLMODE=disable
CORS_ORIGIN=http://localhost:5173,http://localhost:5174,http://localhost:5175
ADMIN_EMAIL=admin@conelliengineering.com
ADMIN_NAME=Conelli Admin
ADMIN_PASSWORD=conelli
AWS_REGION=eu-west-1
AWS_S3_BUCKET=conelli-dev-assets
AWS_S3_PREFIX=conelli/dev
AWS_S3_ENDPOINT=http://localhost:9000
AWS_S3_PUBLIC_URL=http://localhost:9000/conelli-dev-assets
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
